.product3 {
  display: flex;
  flex-direction: row;
}

.product3_table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product3_table > .mainTitle {
  font-size: 23px;
  font-weight: bold;
  border-bottom: 3px solid lightgray;
  color: #050366c0;
}

.product3_table > .mainTitle::selection {
  background-color: #b0dab9;
  color: tomato;
}

.product3_table > .title1 {
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 17px;
  border-bottom: 1px solid lightgray;
  height: 2rem;
}

.product3_table > .title1::selection {
  background-color: #b0dab9;
  color: tomato;
}
